# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ErScripts/configs
/ErScripts/x64/Release
/x64/Release
/.vs/ErScripts/v17
/.vs/ErScripts/CopilotIndices
/.vs/ErScripts/FileContentIndex
/.vs/ErScripts/copilot-chat/5b76ca29/sessions/5e8bad49-ba75-41d8-a174-0f7c47c9cd43
